body{
  background-color: black;
  text-align: center;

}

.heading, .sub-heading{
  font-family: Verdana;
  color: white;

}

.heading{
  font-weight: normal;
  font-size: 50px;

}

a:link, a:visited{
  color: aquamarine;
  font-size: 16px;

}

p{
  font-family: Verdana;
  font-size: 21px;
  color: grey;

}

.phone{
  padding: 10px;

}


.sub-heading{
  font-weight: 300px;
  font-size: 42px;

}

.copyright{
  text-align: right;

}
