body{
  text-align: center;

}

p, li{
  font-family: Helvetica;
  font-weight: bold;

}

#footer p, #footer .menu{
  display: inline;
  text-align: left;

}

.header{
  background-image: url('../images/the-flatiron-building.PNG');
  margin-top: 20px;

}

.menu{
  list-style: none;
  font-size: 18px;
  color: white;

}

.sub-title{
  font-size: 23px;

}

.details{
  font-size: 14px;

}

#title{
  font-size: 70px;
  color: white;

}

#sub-header{
  font-size: 32px;

}

#banner{
  background-image: url("../images/the-flatiron-building.PNG");
  font-size: 23px;
  color:  white;
}

#footer{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;

}
